<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Roll dice result')"></head>
<body>

<h1>Dice Outcome</h1>
<h3>You guessed: <span th:text="${guess}"></span></h3>
<h3>The correct guess is: <span th:text="${number}"></span></h3>
<h3 th:if="${result}">You guessed correctly!</h3>
<h3 th:if="${!result}">You guessed WRONG :(</h3>

<!--<div th:each="number: ${numbers}">-->
<!--<span th:text="${number}">Is your result!</span>-->
<!--</div>-->


</body>
</html>